container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python superlists/manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
  command: "source /opt/python/run/venv/bin/activate && python iotd/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "superlists.settings"
    "PYTHONPATH": "/opt/python/current/app/superlists:$PYTHONPATH"
    "ALLOWED_HOSTS": "superlists-lw.ap-northeast-1.elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: superlists/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"